<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd" xmlns:p="tapestry:parameter">
<head>
	<meta charset="utf-8"/>
	<title>${title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>

	<!-- Le styles -->
	<style type="text/css">
		body {
			padding-top: 60px;
			padding-bottom: 40px;
		}

		div.palette {
			display:block !important;
		}
	</style>

	<!-- HTML5 Shim and Respond.js IE6-8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>

	<!-- Fav and touch icons -->
	<link rel="shortcut icon" href="${asset:context:/favicon.ico}"/>

	<!-- Bootstrap Core CSS -->
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>

	<!-- MetisMenu CSS -->
	<link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"/>

	<!-- Timeline CSS -->
	<link href="/dist/css/timeline.css" rel="stylesheet"/>

	<!-- Custom CSS -->
	<link href="/dist/css/sb-admin-2.css" rel="stylesheet"/>

	<!-- Morris Charts CSS -->
	<link href="/bower_components/morrisjs/morris.css" rel="stylesheet"/>

</head>

<body>
<div id="wrapper">

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
					<li>
						<t:pagelink page="Home" class="navbar-brand"><img src="${logo}" style="max-width:32px; margin-top: -5px;"/></t:pagelink>
					</li>
					<li class="${getClassForPageName('Home')}">
						<t:pagelink page="Home">Home</t:pagelink>
					</li>
				</ul>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<t:security.user>
						<t:actionlink t:id="tynamoLogoutLink" id="tynamoLogoutLink">logout</t:actionlink>
						<p:else>
							<t:actionlink t:id="tynamoLoginLink" id="tynamoLoginLink">login</t:actionlink>
						</p:else>
					</t:security.user>
				</li>
				<li class="divider-vertical"></li>
			</ul>
		</div>

		<div class="navbar-default sidebar" role="navigation">
			<div class="sidebar-nav navbar-collapse">
				<ul class="nav" id="side-menu">
					<li class="${getClassForPageName('Home')}">
						<t:pagelink page="Home" class="${getClassForPageName('Home')}"><i class="fa fa-dashboard fa-fw"></i> Home</t:pagelink>
					</li>
					<t:loop source="displayableDescriptors" value="descriptorIterator">
						<li>
							<t:pagelink page="prop:listPageName" context="descriptorIterator.beanType"><i class="fa fa-asterisk fa-fw"></i> ${listAllLinkMessage}</t:pagelink>
						</li>
					</t:loop>
				</ul>
			</div>
			<!-- /.sidebar-collapse -->
		</div>
		<!-- /.navbar-static-side -->

</nav>

	<div id="page-wrapper">
		<t:alerts/>
		<t:body/>
	</div>

	<hr/>
	<footer>
		<span class="left">Powered by Tynamo &copy; 2014</span>
			<span style="margin-right: 10px;float:right;">
				aba-admin-${appVersion}
			</span>
	</footer>

</div>
</body>
</html>
