<t:layout title="title" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd" xmlns:p="tapestry:parameter">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">${title} (${beanCount})</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid" style="margin-right:20px">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<t:pageLink page="Show" context="parentShowPageContext">
						<i class="fa fa-level-up"></i>
						back to ${parentBean}</t:pageLink>
				</li>
				<li>
					<t:pagelink class="newlink" page="collections/AddC" context="addElementPageContext">
						<i class="fa fa-plus"></i>
						${newlinkMessage}</t:pagelink>
				</li>
			</ul>
		</div>
	</nav>

	<t:grid t:id="grid" source="source" row="bean" inPlace="true" add="__id__" reorder="__id__"
	        t:mixins="tynamo/BeanModelAdvisor">
		<p:__id__header>
		</p:__id__header>
		<p:__id__cell>
			<t:pagelink t:page="Show" context="showPageContext"><i class="fa fa-eye" style="font-size: 1.5em;"></i>
			</t:pagelink>
		</p:__id__cell>
		<p:empty>
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">There is no data to display.</h3>
				</div>
				<div class="panel-body" align="center">
					There is no data to display :(
				</div>
			</div>
		</p:empty>
	</t:grid>

</t:layout>
