<html>
<head>
	<!-- Android -->
	<meta property="al:android:package" content="com.zodiacapps.regalos"/>
	<meta property="al:android:class" content="com.zodiacapps.regalos.RewardsActivity"/>
	<meta property="al:android:url" content="zodiacapps://regalos"/>
	<meta property="al:android:app_name" content="Regalos por Signo Zodiacal"/>
	<meta property="al:web:should_fallback" content="false"/>
</head>
<body>
<h1>AppLinks</h1>
</body>
</html>


